---

---

<footer class="bg-black text-white">
  <div
    class="container min-h-24 flex items-center justify-center gap-8 max-sm:gap-4 max-sm:flex-col text-[11px] uppercase"
  >
    <p class="text-neutral-400">SpaceX · Clone © 2024</p>
    <div class="flex items-center gap-3 font-semibold ">
      <a class="hover:text-neutral-300" href="/">Privacy policy</a>
      <a class="hover:text-neutral-300" href="/">Suppliers</a>
    </div>
  </div>
</footer>
